.header {
  text-align: center;
  padding: 20px;
  background:linear-gradient(to right, #009246 0, #009246 33%, #FFF 33%, #FFF 66%, #ce2b37 66%, #ce2b37 100%); 
}

.row {
  margin-top: 10px;
  border-top: 2px solid #009246;
}

.create-order {
  border-right: 2px solid #009246;
}

.show-order {
  display: none;
  padding-left: 50px;
}

.address {
  display: none;
  margin-top: 10px;
}

.btn {
  background-color: #009246;
  font-weight: bold;
  color: white;
}

h3 {
  margin-bottom: 10px;
}

.order-header{
  margin-bottom: 10px;
}

#order{
  display: inline;
  font-size: 16px;
}

li {
  margin-bottom: 10px;
}

.extra-info {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 2px solid #009246;
  font-size: 16px;
}

.delivery-answer, #total {
  font-weight: bold;
}

img {
  padding-top: 20px;
  padding-left: 10px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .create-order {
    border-style: none;
  }
  img {
    padding: 0px;
    padding-top: 10px;
  }
  li {
    margin-left: 15px;
  }
  .show-order {
    margin-top: 20px;
    padding: 0px;
    border-top: 2px solid #009246;
  }
   
}